.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


.casestudydesc .columns > div {
  align-items: normal;
}

.casestudydesc .columns > div > :first-child {
  flex: 0 0 70%;
}

.casestudydesc .columns > div > :first-child {
  flex: 0 0 70%;
   h6 {
    color: #d40511;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    width: fit-content;
    margin-bottom: 25px;
  }
}

.casestudydesc .columns > div > div ul {
  list-style-type: square;
}

.casestudydesc .columns > div > div ul li::marker {
  color: #d40511;
}

.casestudydesc .columns > div > div h5 {
    color: #d40511;
    font-size: 18px;
}